(
    groups: [
        (
            hidden: false,
            name: "ToDo Fixes",
            open: true,
            todos: [
                (
                    name: "Add Flat Mode",
                    done_time: None,
                    due: None,
                    created: "2023-02-21 23:48:03.404392021 -05:00:00",
                ),
                (
                    name: "Add Help Menu",
                    done_time: None,
                    due: None,
                    created: "2023-02-21 23:48:15.486200433 -05:00:00",
                ),
                (
                    name: "Make Prompt More Dynamic",
                    done_time: None,
                    due: None,
                    created: "2023-02-22 00:00:34.522552208 -05:00:00",
                ),
            ],
            completed: [],
            todo_archive: [
                (
                    name: "che",
                    done_time: None,
                    due: None,
                    created: "2023-02-21 22:54:00.258828627 -05:00:00",
                ),
                (
                    name: "Clear screen on prompts",
                    done_time: Some("2023-02-21 22:54:11.227753826 -05:00:00"),
                    due: None,
                    created: "2023-02-21 22:14:50.227224256 -05:00:00",
                ),
                (
                    name: "Number Preview on Group shouldn\'t count completed",
                    done_time: Some("2023-02-21 22:59:40.41599105 -05:00:00"),
                    due: None,
                    created: "2023-02-21 19:59:20.700324524 -05:00:00",
                ),
                (
                    name: "Clear screen on exit (or use screenbuffer?)",
                    done_time: Some("2023-02-21 22:57:46.419226881 -05:00:00"),
                    due: None,
                    created: "2023-02-21 22:25:06.84387907 -05:00:00",
                ),
                (
                    name: "Going two layers up on cursor_down doesn\'t work",
                    done_time: Some("2023-02-21 23:21:29.171204572 -05:00:00"),
                    due: None,
                    created: "2023-02-21 19:58:44.385395412 -05:00:00",
                ),
                (
                    name: "",
                    done_time: None,
                    due: None,
                    created: "2023-02-21 23:37:03.593999791 -05:00:00",
                ),
                (
                    name: "Add mouse support to toggle items",
                    done_time: Some("2023-02-21 23:36:52.523330082 -05:00:00"),
                    due: None,
                    created: "2023-02-21 22:16:38.054037996 -05:00:00",
                ),
                (
                    name: "Yellow Color when Todo is due in 24hrs",
                    done_time: Some("2023-02-21 23:36:50.853936877 -05:00:00"),
                    due: Some("2023-02-20 23:36:44.15223265 -05:00:00"),
                    created: "2023-02-21 23:35:17.189076883 -05:00:00",
                ),
                (
                    name: "gfdgfgdfgr",
                    done_time: None,
                    due: None,
                    created: "2023-02-21 23:41:19.344670962 -05:00:00",
                ),
                (
                    name: "water melon cheeburg sdna ASa",
                    done_time: None,
                    due: None,
                    created: "2023-02-21 23:42:07.979731889 -05:00:00",
                ),
                (
                    name: "Fix mouse input showing in prompt and other escapes",
                    done_time: Some("2023-02-21 23:42:55.054630859 -05:00:00"),
                    due: None,
                    created: "2023-02-21 23:37:43.045387262 -05:00:00",
                ),
                (
                    name: "Fix not changing due date clears it",
                    done_time: Some("2023-02-21 23:45:13.586301382 -05:00:00"),
                    due: Some("2023-02-21 23:45:06.556608224 -05:00:00"),
                    created: "2023-02-21 23:40:06.936552101 -05:00:00",
                ),
            ],
            subgroups: [],
            subgroup_archive: [],
        ),
    ],
    archive_groups: [],
    archive_time: "240.000000000",
    keybindings: (
        add_todo: Char('a'),
        add_group: Char('g'),
        add_top_group: Char('n'),
        toggle_group: Char(' '),
        toggle_todo: Char(' '),
        archive_todo: Char('d'),
        hide_group: Char('x'),
        edit_todo: Char('e'),
        edit_group: Char('e'),
        move_todo_up: Char('i'),
        move_todo_down: Char('k'),
        move_group_up: Char('i'),
        move_group_down: Char('k'),
        cursor_up: Up,
        cursor_down: Down,
        group_up: PageUp,
        group_down: PageDown,
        hierarchy_up: Char('['),
        hierarchy_down: Char(']'),
        quit: Char('q'),
        save: Char('s'),
        clean: Char('o'),
        help: Char('h'),
    ),
)